{% extends "base.html" %}


{% block head %}

{% endblock %}


{% block body %}
<h1>Template</h1>
<div class="form">
    {% if feedback: %}
    {{ feedback }}
    {% endif %}
    <form action="/" method="POST">
        <input type="submit" value="Press the button">
    </form>
</div>
{% endblock %}